@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        You are trying to change data in a wrong way
    </h2>
</body>
</html>
